body {
    overflow-x: hidden;
} 

.page{
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    max-width: $mobile-max-width;
    font-family: $poppins-font;
    color: $black-color;
    @include breakpoint(tablet){
        max-width: $tablet-max-width;
    }
    @include breakpoint(laptop){
        max-width: $laptop-max-width;
    }
    @include breakpoint(desktop){
        max-width: $desktop-max-width;
    }
}

h1{
    font-family: $montserrat-font;
}

input[type="checkbox"]{
    display: none;
}

label{
    @include label-styles()
}