@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1441px) { @content; }
  } @else if $point == laptop {
    @media (max-width: 1440px) and (min-width: 1025px) { @content; }
  } @else if $point == tablet {
    @media (max-width: 1024px) and (min-width: 768px) { @content; }
  } @else if $point == mobile {
    @media (max-width: 767px) { @content; }
  }
}

@mixin label-styles{
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  cursor: pointer;
}

@mixin button-styles{
  &.btn{
    display: inline-block;
    background-color: $red-color;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    

    &:hover{
        background-color: rgb($grey-color, .80);
    }
  }
}

@mixin hover-nav-styles{
  &:hover{
    color: $red-color;
    position: relative;
    &::before{
        content: "";
        display: inline-block;
        width: 80%;
        height: 2px;
        background-color: $red-color;
        position: absolute;
        bottom: -10px;
        left: 10%;
    }
  }
}