// MAX WIDTH CONTROL
$desktop-max-width: 1600px;
$laptop-max-width: 1300px;
$tablet-max-width: 600px;
$mobile-max-width: 350px;

// COLORS
$red-color: #F38160;
$black-color: #403C39;
$grey-color: #949494;
$light-grey-color:rgb(#D0D0D2, .25);

//FONTS
$poppins-font: "Poppins", sans-serif;
$montserrat-font: "Montserrat", sans-serif;