.categories{

    @include breakpoint(laptop){
        display: flex;
    }

    @include breakpoint(desktop){
        display: flex;
        padding-top: 50px;
        gap: 30px;
    }
    .categories_item{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 20px;
        @include breakpoint(laptop){
            align-items: start;
            padding: 20px;
        }

        @include breakpoint(desktop){
            align-items: start;
            padding: 20px;
        }

        img{
            width: 70px;
            position: relative;
            right: 10px;
        }
        h3{
            text-align: center;
            @include breakpoint(laptop){
                text-align: start;
                font-size: 14px;
            }
            @include breakpoint(desktop){
                text-align: start;
                font-size: 24px;
            }
        }

        p{
            text-align: center;
            color: $grey-color;
            @include breakpoint(laptop){
                text-align: start;
                font-size: 0.8em;
            }
            @include breakpoint(desktop){
                text-align: start;
                font-size: 18px;
            }
        }

    }

}