.header{
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    
    @include breakpoint(tablet){
        justify-content: space-between;
        .nav-toggle{
            position: relative;
            left: 18%;
            top: 1px;

        }
    }

    // header img
    img{
        max-width: 150px;
        @include breakpoint(tablet){
           max-width: 200px;
        }
    }

    //input buttons 
    input[type="checkbox"]:checked ~ nav{
        display: block;
    }

    input[type="checkbox"]:checked ~ .login-links{
        display: block;
    }

    //aside login styles
    .login{
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .cart_icon{
            img{
                max-width: 24px;
                margin-top: -5px
            };
        }

        .login-links{
            display: none;
            position: absolute;
            width: 100%;
            background-color: white;
            top:4em;
            right: 0; 
            text-align: center;
            list-style-type: none;
            padding: 0;
            li{
                padding: 10px;
                a{
                    text-decoration: none;
                    font-size: 18px;
                    color: $red-color;
                }
            }

            @include breakpoint(tablet){
                right: -0.5rem;
            }
        }
    }
}