.hero{
    @include breakpoint(laptop){
        display: flex;
        align-items: center;
    }
    @include breakpoint(desktop){
        display: flex;
        align-items: center;
        padding-top: 50px;
    }
    .hero_content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
        .hero_title{
            font-size: 3rem;
            padding-bottom: 10px;
            text-align: center;
            span{
                color: $red-color;
            }

            @include breakpoint(laptop){
                text-align: start;
                padding-bottom: 0;
                font-size: 3rem;
                width: 70%;
            }
            @include breakpoint(desktop){
                text-align: start;
                padding-bottom: 0;
                font-size: 3.5rem;
                width: 70%;
            }
        }
    
        .hero_description{
            font-size: 1rem;
            color: $grey-color;
            padding-bottom: 10px;
            text-align: center;

            @include breakpoint(laptop){
                text-align: start;
                font-size: 1.5rem;
            }
            @include breakpoint(desktop){
                text-align: start;
                font-size: 24px;
                width: 70%;
            }
        }  
    
        .hero_search{
            max-width: 100%;
            display: flex;
            justify-content: center;

            @include breakpoint(tablet){
                width: 80%;
                margin-right: auto;
                margin-left: auto;
            }

            @include breakpoint(laptop){
                width: 90%;
                justify-content: start;
            }

            @include breakpoint(desktop){
                width: 60%;
                justify-content: start;
            }

            input{
                max-width: 80%;
                padding: 10px;
                flex: 1;
                border: none;
                background-color: $light-grey-color;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                &::placeholder{
                    color: $grey-color;
                }

                @include breakpoint(desktop){
                    padding: 20px;
                    &::placeholder{
                        font-size:18px ;
                    }
                }
            }
            button{
                background-color: $red-color;
                padding: 5px;
                border: none;
                border-top-right-radius: 5px;
                border-bottom-right-radius:5px;

                @include breakpoint(laptop){
                    &:hover{
                        background-color: $grey-color;
                    }
                }
                @include breakpoint(desktop){
                    padding: 12px;
                    &:hover{
                        background-color: $grey-color;
                        
                    }
                }
            }
    
        }

        .hero_list{
            ul{
                list-style-type: none;
                
                @include breakpoint(tablet){
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 20px;
                }

                @include breakpoint(laptop){
                    max-width: 60%;
                    margin-left: 0;
                    margin-bottom: auto;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 20px;
                }   

                @include breakpoint(desktop){
                    max-width: 60%;
                    margin-left: 0;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 20px;
                }

                li{
                    font-size: 18px;
                    background-image: url(img/check-icon.svg);
                    background-repeat: no-repeat;
                    background-size:14px ;
                    background-position: center left;
                    padding-left: 1.2rem;
                    @include breakpoint(tablet){
                        margin-right: 2em;
                    }
                }
            }
        }
    }

    .hero_img{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        @include breakpoint(tablet){
            display: flex;
            justify-content: center;
        }

        img{
            max-width: 100%;
            @include breakpoint(tablet){
                max-width: 60%;
            }

            @include breakpoint(laptop){
                max-width: 300px;
                position: relative;
                left: -30px;

            }

            @include breakpoint(desktop){
                position: relative;
                left: -300px;

            }
        }
    }
    
}