.main_nav{
    display: none;
    position: absolute;
    width: 120%;
    background-color: white;
    top:4em;
    right: -2rem;
    text-align: center;
    
    @include breakpoint(tablet){
        right: -4rem;
    }

    @include breakpoint(laptop){
        display: inline-block;
        position:static;
        width: 50%;
    }

    @include breakpoint(desktop){
        display: inline-block;
        position:static;
        width: 50%;
    }

    ul{
        list-style: none;
        padding: 0;
        @include breakpoint(laptop){
            display: flex;
            align-items: center;
        }

        @include breakpoint(desktop){
            display: flex;
            align-items: center;
        }

        li{
            padding: 10px;
            a{
                text-decoration: none;
                font-size: 18px;
                color: $red-color;

                @include breakpoint(laptop){
                    color: $black-color;
                    font-weight: 400;
                    @include hover-nav-styles;
                }

                @include breakpoint(desktop){
                    color: $black-color;
                    font-weight: 400;
                    @include hover-nav-styles;
                }
            }
        }
    }
}
